@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-weight: 400;
  src: local('Paytone One Regular'), local('PaytoneOne-Regular'),
       url('/fonts/paytone-one-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/paytone-one-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* cutive-mono-regular - latin */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'),
       url('/fonts/cutive-mono-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/cutive-mono-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('/fonts/poppins-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/poppins-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.transparent-btn, .contact-btn, .contact-section .message-btn, .about-section .about-text .cv-download-btn {
  background: transparent;
  color: #E3AE52;
  padding: 20px 38px;
  font-size: 1.2rem;
  border: 1px solid #E3AE52;
  font-family: "Cutive Mono";
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.section-header, .blog-list-section h2, .contact-section h2, .project-section h2, .skill-section h2, .about-section .about-text h2 {
  font-size: 2.2rem;
  color: #E3AE52;
  font-family: "Paytone One";
}

.section-paragraph, .contact-section p, .skill-section p, .about-section .about-text p {
  font-family: "Cutive Mono";
  color: #E3AE52;
  font-size: 1.2rem;
}

.default-column-section, .post-view, .blog-list-section {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  .section-header, .blog-list-section h2, .contact-section h2, .project-section h2, .skill-section h2, .about-section .about-text h2 {
    font-size: 1.8rem;
  }

  .transparent-btn, .contact-btn, .contact-section .message-btn, .about-section .about-text .cv-download-btn {
    font-size: 1rem;
    padding: 15px 25px;
  }
}
body {
  font-family: "Cutive Mono", "sans-serif", "serif";
  margin: 0;
  padding: 0;
  background-color: #041721;
  line-height: 1.3;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

section {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
}

@media only screen and (max-width: 549px) {
  section {
    max-width: 80%;
  }
}
@media only screen and (min-width: 550px) {
  section {
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  section {
    max-width: 75%;
  }
}
@media only screen and (min-width: 820px) {
  section {
    max-width: 660px;
  }
}
@media only screen and (min-width: 995px) {
  section {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1200px) {
  section {
    max-width: 70%;
  }
}
header.top-navigation {
  background-color: #041721;
  display: flex;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: top 0.3s;
  z-index: 15;
  -webkit-box-shadow: 10px 13px 15px -20px black;
  -moz-box-shadow: 10px 13px 15px -20px black;
  box-shadow: 10px 13px 15px -20px black;
}

div.content-wrapper {
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
}

.intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}
.intro-section h1 {
  font-family: "Paytone One";
  color: #E3AE52;
  font-size: 75px;
  margin: 0 0 25px;
}
.intro-section h2, .intro-section h3 {
  font-family: "Cutive Mono";
  color: #E3AE52;
  font-size: 38px;
  margin: 0;
}
.intro-section h2 {
  margin: 5px 0 10px;
}
.intro-section h3 {
  margin: 15px 0 35px;
}

@media only screen and (max-width: 800px) {
  .intro-section {
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 549px) {
  .intro-section h1 {
    font-size: 39px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 550px) {
  .intro-section h1 {
    font-size: 48px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 768px) {
  .intro-section h1 {
    font-size: 50px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 25px;
  }
}
@media only screen and (min-width: 820px) {
  .intro-section h1 {
    font-size: 55px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 995px) {
  .intro-section h1 {
    font-size: 65px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 1200px) {
  .intro-section h1 {
    font-size: 80px;
  }
  .intro-section h2, .intro-section h3 {
    font-size: 40px;
  }
}
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.about-section .about-text {
  display: flex;
  flex-direction: column;
}
.about-section .about-text p {
  font-size: 1.3rem;
}
.about-section .about-text .cv-download-btn {
  margin-top: 10px;
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.skill-section p {
  text-align: center;
}
.skill-section .skill-categories-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
  flex-wrap: wrap;
}
.skill-section .skill-categories-wrapper .skill-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-section .skill-categories-wrapper .skill-category .skill-range {
  -webkit-appearance: none;
  height: 2px;
  background: #E3AE52;
}
.skill-section .skill-categories-wrapper .skill-category .skill-range:disabled {
  background: #E3AE52;
}
.skill-section .skill-categories-wrapper .skill-category .skill-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #E3AE52;
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
}
.skill-section .skill-categories-wrapper .skill-category .skill-range:disabled::-webkit-slider-thumb {
  background: #E3AE52;
}
.skill-section .skill-categories-wrapper .skill-category h3 {
  color: #E3AE52;
  font-size: 1.4rem;
}
.skill-section .skill-categories-wrapper .skill-category .tool-list {
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.skill-section .skill-categories-wrapper .skill-category .tool-list li {
  font-size: 1.2rem;
  color: #E3AE52;
  margin: 13px auto;
}

@media only screen and (max-width: 600px) {
  .skill-categories-wrapper {
    flex-direction: column;
    align-items: center !important;
  }
}
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  padding-top: 60px;
}
.project-section .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 15px;
  margin-top: 30px;
}
.project-section .project-grid .project-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #011C2B;
}
.project-section .project-grid .project-card .project-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.project-section .project-grid .project-card .project-card-content .project-links {
  display: flex;
  justify-content: flex-end;
}
.project-section .project-grid .project-card .project-card-content h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #E3AE52;
}
.project-section .project-grid .project-card .project-card-content p {
  font-size: 0.9rem;
  color: #E3AE52;
}
.project-section .project-grid .project-card .project-card-content .project-stack {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  font-size: 0.85rem;
}
.project-section .project-grid .project-card .project-card-content .project-stack li {
  color: #fff;
}
.project-section .project-grid .project-card .project-card-content .project-stack li:not(:first-of-type) {
  margin-left: 10px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.contact-section p {
  text-align: center;
  margin-top: 0;
  font-size: 1.7rem;
}
.contact-section .message-btn {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .contact-section p {
    font-size: 1.4rem;
  }
}
.blog-list-section .blog-post-wrapper {
  display: flex;
  flex-direction: column;
}
.blog-list-section .blog-post-wrapper .blog-post {
  display: flex;
  min-height: 220px;
  padding-right: 30px;
  margin: 10px 0;
}
.blog-list-section .blog-post-wrapper .blog-post .date-tl {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.blog-list-section .blog-post-wrapper .blog-post .date-tl .date {
  color: #E3AE52;
  margin: 0;
  margin-bottom: 5px;
  white-space: nowrap;
  font-weight: 100;
  flex: 1;
  text-transform: uppercase;
}
.blog-list-section .blog-post-wrapper .blog-post .date-tl .date span {
  color: #D3D3D3;
  text-transform: uppercase;
}
.blog-list-section .blog-post-wrapper .blog-post .date-tl .vertical-line {
  width: 0.75px;
  height: auto;
  margin: 0 auto;
  background-color: #D3D3D3;
  flex: 3;
}
.blog-list-section .blog-post-wrapper .blog-post .post-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}
.blog-list-section .blog-post-wrapper .blog-post .post-text h3 {
  color: #E3AE52;
  margin: 0;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-list-section .blog-post-wrapper .blog-post .post-text h3 a {
  font-size: inherit;
}
.blog-list-section .blog-post-wrapper .blog-post .post-text p {
  color: #fff;
  text-align: left;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog-list-section .blog-post-wrapper .blog-post .post-text a {
  text-decoration: none;
  color: #E3AE52;
  margin-left: auto;
  font-size: 1.1rem;
  font-weight: 600;
}

@media only screen and (max-width: 620px) {
  .blog-list-section .blog-post-wrapper .blog-post .post-text h3 {
    font-size: 1.2rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text p {
    font-size: 1rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text a {
    font-size: 1rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text .date-tl .date {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 397px) and (min-width: 323px) {
  .blog-list-section .blog-post-wrapper .blog-post .post-text h3 {
    font-size: 1.1rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text p {
    font-size: 0.95rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text a {
    font-size: 0.95rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl {
    margin: 0;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl .date {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 322px) {
  .blog-list-section .blog-post-wrapper .blog-post .post-text h3 {
    font-size: 1rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text p {
    font-size: 0.9rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text a {
    font-size: 0.9rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl {
    margin: 0;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl .date {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  .blog-list-section .blog-post-wrapper {
    width: 75%;
    margin: 0 auto;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text h3 {
    font-size: 1.4rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text p {
    font-size: 1.15rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .post-text a {
    font-size: 1.15rem;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl {
    margin: 0;
  }
  .blog-list-section .blog-post-wrapper .blog-post .date-tl .date {
    font-size: 1.3rem;
  }
}
.post-view .post-content-wrapper {
  width: 80%;
  margin: 0 auto;
}
.post-view .post-content-wrapper .title-date {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}
.post-view .post-content-wrapper .title-date h3 {
  margin: 0;
  color: #E3AE52;
  font-size: 2.3rem;
  text-align: left;
  margin-right: 30px;
}
.post-view .post-content-wrapper .title-date span {
  color: #D3D3D3;
  white-space: nowrap;
  text-transform: uppercase;
}
.post-view .post-content-wrapper img {
  width: auto;
  max-height: 350px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.post-view .post-content-wrapper .article-wrapper {
  width: 90%;
  margin: 0 auto;
}
.post-view .post-content-wrapper .article-wrapper article {
  text-align: left;
  margin-top: 20px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media only screen and (max-width: 630px) {
  .post-view .post-content-wrapper {
    width: 100%;
  }
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 1.9rem;
  }
  .post-view .post-content-wrapper img {
    max-height: 300px;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 485px) {
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 1.5rem;
  }
  .post-view .post-content-wrapper img {
    max-height: 250px;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 410px) {
  .post-view .post-content-wrapper .title-date {
    flex-direction: column;
  }
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 1.8rem;
    margin: 0 auto 15px;
    text-align: center;
  }
  .post-view .post-content-wrapper img {
    max-height: 225px;
  }
  .post-view .post-content-wrapper .article-continer article {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .post-view .post-content-wrapper .title-date span {
    font-size: 0.9rem;
  }
  .post-view .post-content-wrapper img {
    max-height: 200px;
  }
}
@media only screen and (max-width: 335px) {
  .post-view .post-content-wrapper img {
    max-height: 180px;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 300px) {
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 1.48rem;
  }
  .post-view .post-content-wrapper img {
    max-height: 170px;
  }
}
@media only screen and (max-width: 250px) {
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 1.4rem;
  }
  .post-view .post-content-wrapper img {
    max-height: 145px;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 0.9;
  }
}
@media only screen and (min-width: 1200px) {
  .post-view .post-content-wrapper {
    width: 80%;
  }
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 2.4rem;
  }
  .post-view .post-content-wrapper .title-date span {
    font-size: 1rem;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1400px) {
  .post-view .post-content-wrapper .title-date h3 {
    font-size: 2.5rem;
  }
  .post-view .post-content-wrapper .title-date span {
    font-size: 1.1rem;
  }
  .post-view .post-content-wrapper .article-wrapper article {
    font-size: 1.3rem;
  }
}
.side-menu {
  height: 100vh;
  width: 65vw;
  z-index: 15;
  background-color: #011C2B;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.side-menu .aside-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.side-menu .aside-content-wrapper .side-navbar {
  display: flex;
  flex-direction: column;
}
.side-menu .aside-content-wrapper .side-navbar ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.side-menu .aside-content-wrapper .side-navbar ul li:not(:first-of-type) {
  margin-top: 30px;
}
.side-menu .aside-content-wrapper .side-navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #E3AE52;
}
.side-menu .aside-content-wrapper .side-social-media-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0 auto 15px;
}
.side-menu .aside-content-wrapper .side-social-media-nav li:not(:first-of-type) {
  margin-left: 25px;
}
.side-menu .aside-content-wrapper .btn-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 40px;
  padding-top: 10px;
  align-items: center;
}
.side-menu .aside-content-wrapper .btn-container a {
  color: #E3AE52;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: sans-serif;
  outline: none;
}
.side-menu .aside-content-wrapper .btn-container a img {
  margin-top: 10px;
}

.side-menu.show {
  display: block;
}

@media screen and (min-width: 600px) {
  .side-menu {
    display: none;
  }

  .side-menu.show {
    display: none;
  }
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}
.footer .footer-content-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer-content-wrapper h3 {
  font-size: 1.3rem;
  color: #E3AE52;
}
.footer .footer-content-wrapper ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer .footer-content-wrapper ul li:not(:first-of-type) {
  margin-left: 25px;
}

@media only screen and (min-width: 600px) {
  .footer .footer-content-wrapper ul {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .footer .footer-content-wrapper h3 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 312px) {
  .footer .footer-content-wrapper h3 {
    font-size: 0.9rem;
  }
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
}
.navbar ul li:not(:first-of-type) {
  margin-left: 20px;
}
.navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #E3AE52;
}

div.brand a {
  text-decoration: none;
  color: #E3AE52;
  font-size: 1.8rem;
  font-weight: 800;
  font-family: "Poppins";
}

div.dropdown-menu {
  display: none;
}
div.dropdown-menu a {
  text-decoration: none;
  color: #E3AE52;
  font-size: 1.9rem;
}
div.dropdown-menu a:click {
  outline: none;
}
div.dropdown-menu a img {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  ul.navlist {
    display: none;
  }

  div.dropdown-menu {
    display: block;
  }
}
@media only screen and (min-width: 800px) {
  .contact-btn {
    margin-top: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-btn {
    margin-top: 15px;
    font-size: 1.5rem;
  }
}
.left-bar {
  position: fixed;
  left: 20px;
  top: 50vh;
  transform: translateY(-50%);
}
.left-bar ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-bar ul li:not(:first-of-type) {
  margin-top: 30px;
}
.left-bar ul li:not(:first-of-type) a {
  text-decoration: none;
  color: #E3AE52;
}
.left-bar ul li:not(:first-of-type) a img {
  color: #E3AE52;
}

@media only screen and (max-width: 600px) {
  .left-bar {
    display: none;
  }
}
.right-bar {
  position: fixed;
  right: 20px;
  top: 50vh;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}
.right-bar a {
  text-decoration: none;
  color: #E3AE52;
  writing-mode: vertical-rl;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .right-bar {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .right-bar a {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=app.css.map */
